extends layout

block content
    h1.mt-5 Posts list
    div.navbar-default

    if (posts_list.length)
    each post in posts_list
        div.card.mb-3
            div.card-header
                span='User name: ' + post.user.name
                span.float-right
                    a(href="javascript:;", onclick="getLikers('"+post._id+"')") Likes(#{post.likes_count})
            div.card-body='Body: ' + post.body
            div.card-footer
                div.float-right
                    a.btn.btn-primary(href="javascript:;", onclick="likePost('"+post._id+"')") Like
    else
        h4.mt-5 No posts found